.car-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.car-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.car-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24x;
}

.car-list article a {
    height: 40px;
    border-radius: 5px;
    border: 2px solid #054f77;
    background: none;
    margin-top: 10px;
    color: #054f77;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: all 0.3s;
}

.car-list article a:hover {
    background: #054f77;
    color: #fff;
}

.car-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.car-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #054f77;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.car-list .actions button:hover {
    opacity: 0.8;
}

.car-list .actions button[disabled] {
    opacity: 0.5;
    cursor: default;
}